{% extends 'bundles/FOSUserBundle/layout.html.twig' %}

{% block fos_user_content %}
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>ROAD TO NAMIB</h1>
                                </div>
                                <p>Application survivaliste</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                {% include 'bundles/FOSUserBundle/Security/login_content.html.twig' %}
                                <a href="#" class="forgot-pass">Mot de passe oublié?</a><br>
                                <small>Pas encore inscrit?</small>
                                <a href="{{ path('fos_user_registration_register') }}" class="signup">S'inscrire</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>Design by <a href="https://bootstrapious.com" class="external">Bootstrapious</a></p>
            <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
        </div>
    </div>

{% endblock %}