{% extends 'base.html.twig' %}

{% block title %}Planification {% endblock %}

{% block header %}
    {% include 'core/header.html.twig' %}

{% endblock %}
{% block sideBar %}
    {% include 'core/sidebar.html.twig' %}

{% endblock %}

{% block pageContent %}
    <div class="page-content">

        <div class="page-header">
            <div class="container-fluid">
                <h2 class="h5 no-margin-bottom">Planification</h2>
            </div>
        </div>

        <div class="container-fluid">
            <div id="calendar" class="calendar"></div>
        </div>

    </div>
{% endblock %}